/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÃ•ES DO NAVEGADOR =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {

    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 0;
    color:darkblue;
    text-decoration: none;
  } 
.main{
width: 900px;
height: 1000px;
background-color:black;
}  
.avatar{
  width: 100px;
  height: 50px;
  background-color:red ;
}

.topodireita1{
  width: 100px;
  height: 50px;
  background-color:royalblue ;
}
.topodireita2{
  width: 100px;
  height: 50px;
  background-color:yellowgreen ;
}
.central{
  width: 300px;
  height: 250px;
  background-color:rgb(231, 232, 238) ;
}
.gitlink{
  width: 100px;
  height: 50px;
  background-color:rgb(97, 96, 90) ;
}
.rodape{
  width: 300px;
  height: 20px;
  background-color:limegreen
}